exercise02-CPI/samples/bc_employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedByte" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="Birthdate" type="xs:date" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="PhoneNumber" type="xs:string" />
              <xs:element name="JobTitle" type="xs:string" />
              <xs:element name="department" type="xs:string" />
              <xs:element name="CostCenter" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>