exercise02-CPI/samples/pm_employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="employeeId" type="xs:unsignedByte" />
              <xs:element name="employeeFirstName" type="xs:string" />
              <xs:element name="employeeLastName" type="xs:string" />
              <xs:element name="employeeBirthday" type="xs:date" />
              <xs:element name="employeeEmail" type="xs:string" />
              <xs:element name="employeePhone" type="xs:string" />
              <xs:element name="jobTitle" type="xs:string" />
              <xs:element name="department" type="xs:string" />
              <xs:element name="managerId" type="xs:unsignedByte" />
              <xs:element name="managerName" type="xs:string" />
              <xs:element name="hireDate" type="xs:date" />
              <xs:element name="employmentStatus" type="xs:string" />
              <xs:element name="salaryType" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="isManager" type="xs:boolean" />
              <xs:element name="isActive" type="xs:boolean" />
              <xs:element name="lastPromotionDate" type="xs:string" />
              <xs:element name="vacationDaysRemaining" type="xs:unsignedByte" />
              <xs:element name="costCenter" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>